
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Message</title>
    <link rel="stylesheet" type= "text/css"  href="../static/styles/mainpage.css">
</head>
<body>
    <header class="navbar">
    <div class="outer">
        <div class="middle">
            <div class= 'firstdiv'>
                <center>
                    <div class='formData'>
                      <p>
                        Error
                      </p>
                      </div>
                </center>
              </div>
        </div>
    </div>
      </header>

</body>

</html>
         
